.input-container {
  border: theme("border.lighBorder");
  padding: 5px 10px;
  border-radius: theme("borderRadius.lighBorderRadius");
}
.input-container input {
  font-size: 14px;
  color: theme("colors.blue");
}
input::-webkit-input-placeholder {
  color: #95aac9;
}
input::placeholder {
  color: #95aac9;
  opacity: 1;
}
